.jumbotron {
  background-image: url('http://ak7.picdn.net/shutterstock/videos/8694727/thumb/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
  height: 80vh;
}

.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.manatee-art, .manatee-art img {
  border-radius: 150px;
}